certifi
charset-normalizer
colorama
contourpy
cycler
fonttools
idna
importlib-resources
kiwisolver
lxml
matplotlib
mkl-fft
mkl-random
mkl-service==2.4.0
numpy
opencv-python==4.10.0.84
packaging
pillow
ply==3.11
pycocotools==2.0.7
pyparsing
PyQt5==5.15.10
PyQt5-sip
python-dateutil
requests
sip
six
tomli
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tornado
tqdm
typing_extensions
unicodedata2
urllib3
zipp
